<h1>{{message}}</h1>
<h3>Contact form was sent by {{name}}</h3>
<h3>Contact email: {{email}}</h3>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>
<h2>{{admin}}</h2>
<h2>{{moderator}}</h2>
<h2>{{customer}}</h2>
